<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baseURL" content="<%=request.original_url%>">
<!-- Bootstrap: CSS package, really cool and really pretty. https://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Custom Stylesheet -->
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_pack_tag 'search.js' %> 
    <title>OSU Courses</title>
</head>





<body>
    <!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
    <div class="container main-container" id="main-container">
        <div class="row justify-content-center">
<!--
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-outline-dark btn-block dropdown-toggle" type="button" data-bs-toggle="dropdown" id="filterDropDown" aria-expanded="false">
                        Filter
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterDropDown">
                        <li><a class="dropdown-item" href="#">Class Name</a></li>
                    </ul>
                </div>
            </div>
-->
            <div class="col-12">
                <form action=""> 
                    <div class="form-group">
                        <input class="form-control" id="searchForm" placeholder="What would you like to search for?"/>
                    </div>
                </form>
            </div>
            <!-- When searching/filtering data, add it like this -->
        </div>
        <% @Courses.each do |course| %>
        <div class="row">
            <div class="col-12">
                <h3><%=course.course_name%>&nbsp;</h3>
                <p class="font-italic"><%=course.title%></p>
            </div>
            <div class="col-12">
                <p><%=course.description%></p>
            </div>
            <% course.sections.each do |section| %>
            <div class="col"></div> 
            <div class="col-11 section-container">
                <h4><%=section.section_name%></h4>
                </br>
                <p><%=section.term_id%> <%=section.start_date%> - <%=section.end_date%></p>
                </br></br>
                <p><%=section.location_id%></p>
                </br> 
                <div class="peopleContainer">
                    <!--<p>
                        Graders: <section.users.each do |grader|%>
                        <=grader.user_id%>
                        <end%>
                    </p>-->
                    <p>Instructor: <%=section.instructor_id%></p>
                </div>
            </div>
            <%end%>
        </div>
        <%end%>
        
    </div>
</body>


</html>
