<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% if @user_type == "GRADER" %>
            <p>Grader</p>
            <p><%= @data.length %></p>
        <% elsif @user_type == "INSTRUCTOR" %>
            <p>Instructor</p>
            <p><%= @data.length %></p>
        <% else %>
            <h2>Administrator View</h2>
            <h3>Sections</h3>
            <ol>
                <% @data[0].each do |section| %>
                    <li><p><%= section.section_type.title %></p></li>
                <% end %>
            </ol>
            <h3>Users</h3>
            <ol>
                <% @data[1].each do |user| %>
                    <li><p><%= user.first_name %> <%= user.last_name %>: <%= user.user_type.title %></p></li>
		    <br>
                <% end %>
            </ol>
        <% end %>
    </body>
</html>
