<!DOCTYPE html>
<html>
    <head>
        <title>Assign Graders</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .edit-button {
                cursor: pointer;
            }

            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            #modal-close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            #modal-close:hover,
            #modal-close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Course</th>
                <th>Graders Assigned</th>
                <th>Edit</th>
            </tr>
            <% @courses.each do |course| %>
                <tr>
                    <td><p><%= course.course_name %></p></td>
                    <td>
                        <% course.sections.each do |section| %>
                            <% section.grader_sections.each do |grader_section| %>
                                <p><%= grader_section.user.first_name + grader_section.user.last_name %></p>
                                <br>
                            <% end %>
                        <% end %>
                    </td>
                    <td class="edit-button" value=<%= course.course_name %>>Edit</td>
                </tr>
            <% end %>
        </table>

        <div id="form-container" class="modal">
            <div class="modal-content">
                <span id="modal-close">&times;</span>
                <form action="\grader_assignment\edit">
                    <% @graders.each do |grader| %>
                        <% grader_id = grader.id %>
                        <input type="checkbox" id=<%= grader_id %> name=<%= grader_id %>/>
                        <label for=<%= grader_id %>><% grader_name = grader.first_name + " " + grader.last_name %></label>
                        <br>
                    <% end %>
                    <input type="hidden" id="section-id" name="section_id"/>
                    <input type="submit"/>
                </form>
            </div>
        </div>
        <script>
            alert("Test 1");

            let modal = document.getElementById("form-container");

            let modalOpenLinks = document.getElementsByClassName("edit-button");
            let modalCloseButton = document.getElementById("modal-close");

            function handleClick(event) {
                // modal.style.display = "block";
                // document.getElementById("section-id").setAttribute("value", event.getAttribute("value"));
                alert("Test 2");
            }

            console.log(modalOpenLinks);
            for(let i = 0; i < modalOpenLinks.length(); i++)
                modalOpenLinks[i].onclick = handleClick;

            modelCloseButton.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if(event.target == modal)
                    modal.style.display = "none";
            }

        </script>
    </body>
</html>
