<div class="container main-container" id="list-container">
    <% @grader_sections.each do |grader_section| section = section.section%>
    <div class="row">
        <div class="col-12 section-container">
            <h4><%=section.section_number%></h4>
            </br>
            <p><%=section.term_id%> <%=section.start_date%> - <%=section.end_date%></p>
            </br></br>
            <p><%=section.location_id%></p>
            </br>
            <div class="peopleContainer">
                <p>Instructor: <%=section.instructor_id%></p>
            </div>
        </div>
    </div>
    <%end%>
</div>
