
<% content_for :head do %>
     <link rel="stylesheet" href="/assets/course_list.css"> 
<% end %>



<!-- < content_for :search do %> -->
    <div class="container main-container" id="list-container">
        <% @Courses.each do |course| %>
        <div class="row">
            <div class="col-12">
                <h3><%=course.course_name%>&nbsp;</h3>
                <p class="font-italic"><%=course.title%></p>
            </div>
            <div class="col-12">
                <p><%=course.description%></p>
            </div>
            <% course.sections.each do |section| %>
            <div class="col"></div> 
            <div class="col-11 section-container">
                <h4><%=section.section_name%></h4>
                </br>
                <p><%=section.term_id%> <%=section.start_date%> - <%=section.end_date%></p>
                </br></br>
                <p><%=section.location_id%></p>
                </br> 
                <div class="peopleContainer">
                    <!--<p>
                        Graders: <section.users.each do |grader|%>
                        <=grader.user_id%>
                        <end%>
                    </p>-->
                    <p>Instructor: <%=section.instructor_id%></p>
                </div>
            </div>
            <%end%>
        </div>
        <%end%>
        
    </div>
