<h1>Add new Recommendation</h1>
<%= form_for @recommendation do |f| %>
  <div class="field">
    <%= f.label "Student" %><br />
    <%= f.text_field :user_id%>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course_id%>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section_id %>
  </div>
  
  <div class="field">
    <%= f.label "Instructor" %><br />
    <%= f.text_field :instructor_id%>
  </div>
  <div class="field">
    <%= f.label "Description" %><br />
    <%= f.text_field :description%>
  </div>
  <div class="field">
    <%= f.label "Recommendation Type: Enter 0 or 1" %>
    <br /><%= f.number_field :recommendation_type%><br />
    <%= f.label "0 = Recommend student for all sections of the course"%><br />
    <%= f.label "1 = Recommend student for specific section with instructor"%>
    
  </div>
  
<p><%=f.submit "Create"%></p>
<%end%>
<%= link_to 'Back', {:action => 'index'} %>
